<h1>Angular</h1>

<bootstrap-card>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here...</p>
    </div>
</bootstrap-card>

<app-like [isActive]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like>
<br>

<app-check-tick [is-checked]="task.isFulfilled" [(countChecked)]="task.fulfillmentCount"></app-check-tick>
<!--
<app-title-case-input></app-title-case-input>
<br>
<app-favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></app-favorite>

<br />
<app-courses1></app-courses1>

<app-courses></app-courses>

<app-authors></app-authors>
-->