<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
        <label for="courseName"><h2>Course Name</h2></label>
        <input required minlength="5" ngModel name="courseName" id="courseName" #courseName="ngModel" type="text" class="form-control">

        <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">

            <div *ngIf="courseName.errors.required">
                Course name is required.
            </div>
            <div *ngIf="courseName.errors.minlength">
                Course name have to be longer then {{ courseName.errors.minlength.requiredLength }} characters.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="category">
          <h2>Category</h2>
        </label>
        <select ngModel required name="category" #category="ngModel" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let category of categoryOptions" [value]="category.id">{{ category.name }}</option>
        </select>

        <div class="alert alert-danger" *ngIf="category.touched && !(category.id) && !category.valid">
            <div>
                Please chose category of the course.
            </div>
        </div>
    </div>

    <div class="checkbox">
        <label>
          <input type="checkbox" ngModel name="hasGuarantee" id="hasGuarantee"> 30 day money back guarantee
        </label>
    </div>

    <p>
        {{ f.value | json }}
    </p>

    <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>